@page
@model RazorCms.Pages.CmsPageModel
@{
    var title = Model?.Page.Title ?? "Page Not Found";
    var pageId = Model?.Page.Id ?? 0;
    ViewData["Title"] = title;
    ViewData["PageId"] = pageId;
}

@if (Model?.Page == null)
{
    <h1>Page Not Found</h1>
}

@if (Model.Blocks == null && Model.Blocks.Count > 0)
{
    <div class="mb-3">
        @if (User.Identity.IsAuthenticated)
        {

            <div>
                <button type="button" class="btn btn-outline-primary" data-add-block="text">Add Text</button>
                <button type="button" class="btn btn-outline-primary" data-add-block="header">Add Header</button>
                <button type="button" class="btn btn-outline-primary" data-add-block="image">Add Image</button>
            </div>
        }
        <h4>Page is empty</h4>

    </div>
}

<div id="page-meta" data-page-id="@ViewData["PageId"]">
</div>
<div id="editor" class="mb-3">
    @if (User.Identity.IsAuthenticated && Model.IsEditing)
    {

        <button type="button" class="btn btn-outline-primary" data-add-block="text">Add Text</button>
        <button type="button" class="btn btn-outline-primary" data-add-block="header">Add Header</button>
        <button type="button" class="btn btn-outline-primary" data-add-block="image">Add Image</button>
    }
    @{
        int blockIndex = 0;
    }
    @foreach (var block in Model?.Blocks)
    {
        <div data-block-id="@block.Id" data-order="@(blockIndex++)" class=" wrappers position-relative mb-2 p-2 container-fluid px-4 ">

            @if (User.Identity.IsAuthenticated && Model.IsEditing)
            {

                <div class="d-flex flex-row-reverse bd-highlight position-absolute end-0">

                    <button data-block-id="@block.Id" class="btn btn-primary btn-sm d-none edit-btn">
                        Edit
                    </button>
                    <button data-block-id="@block.Id" class="btn btn-danger btn-sm d-none delete-btn">
                        Delete
                    </button>
                </div>
            }

            @if (block.Type == "text")
            {
                <p>@block.Text</p>
            }
            else if (block.Type == "header")
            {
                <h2>@block.Text</h2>
            }
            else if (block.Type == "img")
            {
                <img src="@block.Url" alt="Image" class="img-fluid mb-1" />
            }
        </div>
    }
</div>
@if (User.Identity.IsAuthenticated && Model.IsEditing)
{

    <button id="saveBtn" class="btn btn-outline-primary">Save changes</button>
}


@section Scripts {


    <script type="module" src="~/js/cmspage.js"></script>



}
